{% extends 'base.html.twig' %}

{% block title %}Identification
{% endblock %}

{% block body %}
<div class="container">
  <h1>Identification des visiteurs</h1>
    <div class="row mt-4">
      <div class="col-md-5">
      

          <div class="card text-white bg-secondary mb-3">
           <h4 class="card-header">Coordonnées</h4>
            {{ form_start(formUser) }}
            <div class="card-body">

              <p class="card-text">BILLET N° {{ticketQty + 1}}</br>
        
              {{ form_row(formUser.lastName, {'label': 'Nom','attr' : {'placeholder': "nom"}}) }}
              {{ form_row(formUser.firstName, {'label': 'Prénom','attr' : {'placeholder': "prénom"}}) }}
              {{ form_row(formUser.birthdate, {'label': 'Date de naissance'}) }}
              {{ form_row(formUser.country, {'label': 'Pays','attr' : {'placeholder': "pays"}}) }}
              {{ form_row(formUser.discount, {'label': 'Tarif réduit','attr' : {'placeholder': "Tarif réduit"}}) }}
              <p>Un tarif « réduit » de 10 € accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)</p>

              <button type="submit" class="btn btn-success">Suivant</button>
            </div>
            {{ form_end(formUser) }}
          </div>

      </div>

      <div class="col-md-7">
          <div class="card text-white bg-primary mb-3">
           <h4 class="card-header">Résumé de votre réservation</h4>
            <div class="card-body">

              <p class="card-text">date de visite : <strong>le {{ reservation.reservationDate | date('d/m/Y') }}</strong></br>
              numéro de réservation : <strong>{{ reservation.uuid }}</strong></br>
              demi journée {{ reservation.halfDay }}</br>
              {% set numero = 0 %}
              {% set total = 0 %}
              {% for user in users %}
              {% set numero = numero + 1 %}
              {% set total = total + user.price %} 
              visiteur {{numero}} : <strong>{{ user.lastName | upper }} {{ user.firstName  }} né le {{ user.birthdate | date("d/m/Y") }} Prix du billet : {{ user.price }}&euro;</strong></br>
              {% endfor %}
              <h5 class="card-footer">Total : {{total}} euros</h5>
              {% if numero == limit %}
              <button type="submit" class="btn btn-success">Payer</button>
              {% else %}
              <h5>suivant</h5>
              {% endif %}
            </div>
          </div>
      </div>
    </div>  
</div>
{% endblock %}
