{% extends 'base.html.twig' %}

{% block title %}Identification
{% endblock %}

{% block body %}

<h1>Identification des visiteurs</h1>
{#% if not app.request.session.get('payer') %#}
    {{ form_start(formUser) }}
    <div class="row flex">
      <div class="card text-white bg-primary mb-3" style="width: 30rem;">
      <h4 class="card-header">Coordonnées</h4>
        <div class="card-body">
          <p class="card-text">BILLET N° 1</br>
          {{ form_start(formUser) }}

          {{ form_row(formUser.lastName, {'label': 'Nom','attr' : {'placeholder': "nom"}}) }}
          {{ form_row(formUser.firstName, {'label': 'Prénom','attr' : {'placeholder': "prénom"}}) }}
          {{ form_row(formUser.birthdate, {'label': 'Date de naissance'}) }}
          {{ form_row(formUser.country, {'label': 'Pays','attr' : {'placeholder': "pays"}}) }}
          {{ form_row(formUser.discount, {'label': 'Tarif réduit','attr' : {'placeholder': "Tarif réduit"}}) }}

          <button type="submit" class="btn btn-success">Suivant</button>
         </div>
        </div>
      </div>
        {{ form_end(formUser) }}
  {#% else %#}
      {# <a href="{{ }}"></a> #}
      {#% endif %#}
    

  <div class="card text-white bg-primary mb-3" style="width: 40rem;">
   <h4 class="card-header">Résumé</h4>
    <div class="users">
    {% for user in users %}
      <p class="card-text">reservation n° uuuid</br>
      date de visite le xx/xx/xx</br>
      demi journée</br>
      billet 1: {{ user.lastName }} {{ user.firstName  }} {{ user.birthdate|date("m/d/Y") }} : {{ user.price }} euros</br>
      {% endfor %}
    </div>
  </div>


{% endblock %}
