{% block title %}Confirmation de paiement{% endblock %}

{% block content %}
  <div class="card text-white bg-primary mb-6 mt-4">               
    <h4 class="card-header">Confirmation de paiement</h4>
    <hr>
    <p class="lead ml-3 mt-3">
        Bonjour {{ firstName }} {{ lastName }},<br/><br/>
        Nous vous remercions pour votre achat.
        Les détails de votre commande sont récapitulés ci-dessous.
        <br>
        <h5>DÉTAILS DE VOTRE COMMANDE</h5>
        <hr>
        Numéro de réservation : {{ order.uuid }}
        Date de la réservation :
      {{ order.nbTicket }} {% if order.nbTicket == 1 %}billet{% else %}billets{% endif %} d'entrée pour le {{ reservationDate|date('d/m/Y') }} dont la référence est : <span class="badge badge-light">{{ order.uuid }}</span>
      <br/>
      <br/>
      {% set numero = 0 %}
      {% for user in reservation.clients %}
          {% set numero = numero + 1 %}
          - Bénéficiaire n° {{numero}} : <strong>{{ user.lastName | upper }} {{ user.firstName | lower }}</strong></br>       
      {% endfor %}
      <br/>
      Veuillez vous présenter avec ce mail pour valider vos entrées
      <br/>
      Nous vous souhaitons une agréable visite
      <br/>
      <a class="btn btn-outline-info" href="https://www.louvre.fr/preparer-sa-visite" role="button">Préparez votre visite</a>
    </p>
  </div> 
{% endblock %}

Un email de confirmation sera envoyé à l’utilisateur et fera foi de billet.
Le mail doit indiquer:
Le nom et le logo du musée

Le tarif
Le nom de chaque visiteur

Livrables attendus