<h2>Confirmation de paiement</h2>

{% block content %}
  <div class="card text-white bg-primary mb-6 mt-4">    
  {#{{ app.request.server.get('API_KEY')}}#}        
    <hr>
    <p class="lead ml-3 mt-3">
      Bonjour {{ firstName }},
      <br/>
      <br/>
      Le musée du Louvre vous remercie pour votre achat.<br/>
      Veuillez trouvez ci dessous le détail de votre commande.<br/>
      Nous vous souhaitons une agréable visite.<br/>
      <h5>DÉTAILS DE VOTRE COMMANDE</h5>
      <hr>
      N° de réservation : <strong>{{ order.uuid }}</strong></br></br>
      Date de la réservation : <strong>{{ reservationDate|date('d/m/Y') }}</strong></br></br>
      {% set pluriel = order.nbTicket > 1? "s" : "" %}
      {{ order.nbTicket }} billet{{ pluriel }} d'entrée :
      <br/>
      <br/>
      {% set numero = 0 %}
      {% for user in reservation.clients %}
          {% set numero = numero + 1 %}
          - Bénéficiaire n° {{numero}} : <strong>{{ user.lastName | upper }} {{ user.firstName | lower }}</strong></br>       
      {% endfor %}
      <br/>
      <hr>
      Total payé : {{ order.total }} €
      <hr>
      <br/>
      <br/>
      Veuillez vous présenter avec ce mail pour valider vos entrées.
    </p>
  </div> 
{% endblock %}