{% extends 'base.html.twig'%}



{% block javascripts %}

<script src="https://js.stripe.com/v3/"></script>
<script>
//document.getElementById("btn_resa").style="display:none";
</script>
{% endblock %}

{% block body %}

	<h1>Status de votre commande</h1>
	
	<script src="https://js.stripe.com/v3/"></script>

		<form action="/charge" method="post" id="payment-form">
		<div class="form-row">
			<div id="card-element">
			<!-- A Stripe Element will be inserted here. -->
			{% if  checkoutType == "ToPay"   %}
			<script>
				var stripe = Stripe('pk_test_51HeLh9Ahufd1YJu1upvLnvCRa7zfk6gO6liv68Lxshy5wUv90Tt7W2oiNmNwHocTW0QUJG0TuELRquHfj5VoDt1S00ZiDe61WY');
				stripe.redirectToCheckout({
				// Make the id field from the Checkout Session creation API response
				// available to this file, so you can provide it as parameter here
				// instead of the {{CHECKOUT_SESSION_ID}} placeholder.
				sessionId: '{{CHECKOUT_SESSION_ID}}'
				}).then(function (result) {
				// If `redirectToCheckout` fails due to a browser or network
				// error, display the localized error message to your customer
				// using `result.error.message`.
				});
			</script>
			{% endif %}

		 	{% if  checkoutType == "success"   %}
				<br/>Paiement réussi et facture envoyée avec vos billets. Merci de la présenter à l'entrée du musée.
				<br/>
				<br/><a href="{{ path('/home') }}" class="btn btn-success">retour à l'accueil</a>
				<br/>
				<br/>
					
					<h1>Résumé de votre commande</h1>
				<p><img src="https://www.louvre.fr/sites/all/themes/louvre/img/data/logo-louvre.jpg" alt="logo du louvre" /></p>	
						<section class="visitors">
							{{ summary.tickets }}
							{% if  summary.tickets > 1   %}
								billets 
							{% else %}
								billet
							{% endif %}

							
							{% if  summary.halfday   %}
								demi-journée
							{% else %}
								journée
							{% endif %}

							pour le {{ summary.visit|date('d-m-Y') }}
							


							au prix total de : {{ summary.totalPrices }} €<br/>
							Votre identifiant de commande : {{ summary.Uuid }} <br/>
							{% for ticket in summary.ticketcollection %}
								<hr/> 
								{{ ticket.name }}</br>
								{{ ticket.firstName }}</br>
								{{ ticket.birthday|date('d-m-Y') }}</br>
								{{ ticket.country }}</br>
								{% if  ticket.reduc   %}
									Réduction appliquée<br/>
								{% else %}
									Aucune reduction appliquée<br/>
								{% endif %}
								{{ ticket.tarifType }}
								{{ ticket.price }} €</br>
							{% endfor %}				
			{% endif %}

			{% if  checkoutType == "NotPayed"   %}
				<br/>Cette commande n'est pas encore payé, procéder au paiement : <a href="/ticketing/{{summary.id}}/payment"class="btn btn-success">Payer</a>
				<br/>Ou modifier la commande : <a href="{{ path('edit', {id:summary.id}) }}"class="btn btn-success">Modifier</a>
			{% endif %}
			</div>

			<!-- Used to display form errors. -->
			<div id="card-errors" role="alert">
			
			{% if  checkoutType == "cancel"   %}
			<br/>Payement annulé par l'utilisateur. Procéder à nouveau au paiement : <a href="/ticketing/{{summary.id}}/payment"class="btn btn-success">Payer</a> 
			<br/>Ou modifier la commande : <a href="{{ path('edit', {id:summary.id}) }}"class="btn btn-success">Modifier</a>
			{% endif %}
			</div>
		</div>

		
		</form>
<div style="height:100px">&nbsp;</div>
{% endblock %}