{% extends 'base.html.twig' %}

{% block title %}Billetterie{% endblock %}

{% block content %}

        <div class="container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h2>Acheter vos billets électroniques</h2>
            <div class="form-row">
                <div class="col-md-6">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}                   
                    <button type="submit" class="btn btn-success btn-block">Suivant</button>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-6">
                    <div class="card text-white bg-primary mb-6 mt-4">
                    <h4 class="card-header">Information tarif</h4>
                        <ul>
                            <br>
                            <li><strong>tarif « <em>normal</em> » à partir de {{limitChildren}} ans à {{normal}} €</strong></li>
                            <hr>
                            <li><strong>tarif « <em>enfant</em> » à partir de {{limitBaby}} ans et jusqu’à {{limitChildren}} ans, à {{children}} €</strong>
                            <br>
                            (l’entrée est gratuite pour les enfants de moins de {{limitBaby}} ans)</li>
                            <hr>
                            <li><strong>tarif « <em>senior</em> » à partir de {{sinceSenior}} ans à {{senior}} €</strong></li>
                            <hr>
                            <li><strong>tarif « <em>réduit</em> » de {{discount}} €</strong> (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire, sur présentation d'un justificatif)<br>
                            (une pièce d'identitée vous sera demandée à l'entrée)</li>
                            <hr>
                            <br>
                            <br>
                            Pour toute demande de plus de 10 entrées, veuillez contacter notre <a class="badge badge-light" href="https://www.louvre.fr/groupes-et-scolaires">service groupe</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascript %}
         {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
    
    <script>
        $.fn.datepicker.dates['fr'] = {
        days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
        daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
        daysMin: ["Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa"],
        months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Décembre"],
        monthsShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Jui", "Jui", "Aou", "Sep", "Oct", "Nov", "Dec"],
        today: "Aujourd'hui",
        clear: "Clear",
        format: "dd/mm/yyyy",
        titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
        weekStart: 1
        };
        $(document).ready(function(){
            $('#reservation_reservation_date').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                daysOfWeekDisabled: ['0','2'],
                language:['fr'],
                
                startDate: new Date()
            });
        })
    </script>
{% endblock %}
