{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande{% endblock %}

{% block content %}
  <div class="card text-white bg-primary mb-6 mt-4">               
    <h4 class="card-header">Confirmation de votre commande</h4>
    <p class="lead ml-3 mt-3">
      Bonjour {{ firstName }},<br/><br/>
      Nous vous remercions pour votre achat et nous vous confirmons la commande suivante :<br/><br/>
      {% set pluriel = order.nbTicket > 1? "s" : "" %}
      {{ order.nbTicket }} billet{{ pluriel }} d'entrée pour le {{ reservationDate|date('d/m/Y') }} dont la référence est : <span class="badge badge-light">{{ order.uuid }}</span>
      <br/>
      <br/>
      {% set numero = 0 %}
      {% for user in reservation.clients %}
          {% set numero = numero + 1 %}
          - Bénéficiaire n° {{numero}} : <strong>{{ user.lastName | upper }} {{ user.firstName | lower }}</strong></br>       
      {% endfor %}
      <br/>
      Une confirmation vient de vous être envoyée par email à l'adresse suivante : <strong>{{ email }}</strong>
      <br/>
      En cas de problème de réception de mail, veuillez nous contacter au 0102030405 muni de votre référence.
      <br/>
      <br/>
      Nos conseils pour bien préparer vos futures visites :
      <a class="btn btn-outline-info" href="https://www.louvre.fr/preparer-sa-visite" role="button">Préparez votre visite</a>
    </p>
  </div> 
{% endblock %}